*{
    box-sizing: border-box;
}

body{
    background-color: seashell rgb(255, 236, 222);
}

header{
    background-color: rgb(45, 45, 45);
    border: 3px solid grey;
    height: 350px;
    box-sizing: border-box;

}

h1{
    color: rgb(115, 146, 255); font-family: "Bebas Neue", sans-serif, Verdana, Georgia; 
    font-weight: lighter;
    text-align: center;
    font-size: 150px;
}

h2{
    color: rgb(115, 146, 255); font-family: "Bebas Neue", sans-serif, Verdana, Georgia; 
    background-color: dimgray;
    font-size: 75px;
    padding: 15px;
}

p{
    font-family: "Bebas Neue", sans-serif, Verdana, Georgia; 
    font-size: xx-large;
    line-height: 2;
}

li{
    font-family: "Bebas Neue", sans-serif, Verdana, Georgia; 
    background-color:rgb(178, 192, 242) ;
    font-size: x-large;
    font-style: italic;
}

ul{
    margin-left: 200px;
}

.page-one{
    text-decoration: underline;
}

.page-two{
    text-align: center;
}

.page-two h2{
    text-align: center;
}

a{
    font-size: 35px;
}

/* Normal state*/
.click{
    color: blue;
    text-decoration: none;
}

/*Pseudo-class: when hovered*/
.click:hover{
    color: blueviolet;
}

.center{
    margin-left: 200px;
    margin-right: 200px;
}

#PWD{
    margin: 50px;
}

.text{
    font-size: 30px;
    text-align: center;
    width: 60%;
    height: 40%;
    
    

}
    
    






